# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables & secrets
.env
.stsecrets.toml

# Streamlit operational runtime
.streamlit/

# OS specific metadata
.DS_Store
Thumbs.db
